body {
    color: #bd0404;    
    background-color: rgb(8, 3, 3);
  }

  p { font-size: x-large;
      font-style: italic;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    li {font-size: xx-large;}

    h1  {font-weight: bolder;
         font-family: fantasy;}

         h3 {font-size: larger;
             font-family: Georgia, 'Times New Roman', Times, serif;}

             h4 {font-size: larger;}